/* Base Styling */
.announcements-section {
  padding: 0.2rem 1rem 3rem 1.5rem;
  background-color: #000000;
  color: #ffffff;
  font-family: "Arial", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

/* Header */
.header {
  text-align: center;
  margin-bottom: 2rem;
}

.header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
}

/* Filters */
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.filter-btn {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s, transform 0.2s;
}

.filter-btn.active {
  background-color: #007bff;
  color: white;
}

.filter-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.announcement-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-left: 50px;
}

.card {
  width: 400px;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
}

.card h2 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
  color: #000000;
}

p {
  font-size: 1.4rem;
  margin-top: 10px;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.page-btn {
  padding: 0.5rem 0.8rem;
  margin: 0 0.3rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s, transform 0.2s;
}

.page-btn.active {
  background-color: #007bff;
  color: white;
}

.page-btn:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.media {
  margin-top: 20px;
  width: 100%;
  height: auto;
  border-radius: 7px;
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%); /* Centers horizontally */
}

video.media {
  width: 330px;
  height: 200px;
  display: block;
  position: relative;
  transform: translateX(-50%); /* Centers horizontally */
}

/* Video Responsiveness */
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* Aspect ratio 16:9 */
  height: 0;
  overflow: hidden;
  width: 100%;
  max-width: 100%; /* Ensures responsiveness */
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); /* Centers the iframe horizontally */
  width: 100%;
  height: 100%;
  border-radius: 7px; /* Optional: If you want rounded corners */
}