.brand-partners-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-partners {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 3rem;
  width: 80%;
  padding: 1rem 0;
}

.brand-partners img {
  width: 10%;
  border: none;
  border-radius: 40px;
  background: #f7f4f4;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 1);
  color: #fff;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 1.5rem;
  z-index: 1;
  border-radius: 50%;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

/* Responsive adjustments */
@media (max-width: 900px) {
  .brand-partners img {
    width: 15%;
  }

  .arrow {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .brand-partners-container {
    overflow-x: auto;
  }

  .brand-partners img {
    width: 30%;
  }

  .arrow {
    font-size: 1.2rem;
    padding: 0.3rem;
  }
}
